.parent{
    height: 100vh;
    width: 100vw;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: white;
    padding: 20px;
    text-align: center;
}

button{
    margin-top: 20px;
}