<div class="parent">
    <div class="left">
        <h1>Dashboard</h1>
        <hr>
        <h3 routerLink="structureldirectives">structureldirectives</h3>
        <h3 routerLink="data-bindings">Data Bindings</h3>
        <h3 routerLink="marks">Marks</h3>
        <h3 routerLink="pipes">Pipes</h3>
        <h3 routerLink="event">Event</h3>
        <h3 routerLink="cars">Cars</h3>
        <h3 routerLink="products">produts</h3>
        <h3 routerLink="users">users</h3>
        <h3 routerLink="create-user">Create user</h3>
        <h3 routerLink="user-form">User Form</h3>
        <button class="logout" (click)="logout()">logout</button>
    </div>
    <div class= "right">
        <router-outlet></router-outlet>
    </div>

</div>
